@using ChecklistThingy.Helpers
@model ChecklistThingy.Models.ChecklistModel

@{
    ViewBag.Title = (string)ViewBag.FormMode + " Checklist";
}

<h1>@ViewBag.Title</h1>
<hr/>

<section id="editForm">
@using (Html.BeginForm((string)ViewBag.FormMode, "Checklist", FormMethod.Post, new { @class = "form-horizontal" })) {

    <fieldset>
        
        @Html.HiddenFor(m => m.Id)

        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        
        @Html.ValidationSummary(true)

        <div class="form-actions">
            @Html.ClassActionLink("Cancel", "List", "Checklist", "btn")
            &nbsp;&nbsp
            @if ((string) ViewBag.FormMode == "Edit")
            {
                @Html.ClassActionLink("Delete", "Delete", "Checklist", "btn btn-danger", new { Id = Model.Id })
                @:&nbsp;&nbsp;
            }
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
        
    </fieldset>
}
</section>