@using ChecklistThingy.Helpers
@model ChecklistThingy.Models.ListItemsViewModel

@{
    ViewBag.Title = Model.Checklist.Name;
}

<div class="row-fluid">
    <div class="span6">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="span6">
        @Html.IconClassActionLink("New Item", "Add", "Item", "icon-plus-sign icon-white", "btn btn-success pull-right", new { id = Model.Checklist.Id })     
        @Html.IconClassActionLink("Back to Checklists", "List", "Checklist", "icon-chevron-left icon-white", "btn btn-info pull-right")     
    </div>
</div>

<br/>

<table class="table table-bordered table-condensed table-hover table-striped">
    <th>
        Done?
    </th>
    <th>
        Item
    </th>
    <th>
        Action
    </th>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td width="30px">
                @Html.CheckBox("chkBox" + item.Id)
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.IconClassActionLink("Edit", "Edit", "Item", "icon-edit icon-white", "btn btn-warning", new { id = item.Id })      
            </td>
        </tr>
    }
</table>
