@using ChecklistThingy.Helpers
@model ChecklistThingy.Models.RegisterModel
@{
    ViewBag.Title = "I'd Like to Register";
}

@Styles.Render("~/Content/css/social-buttons.css")
@Styles.Render("//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<hr/>

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
